<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <p class="title">Lab Manager</p>
            <nav>
                <ul>
                    {% if current_user.is_authenticated %}
                    <li><a href="/home/">Home</a></li>
                    <li><a href="/logout/">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>