{% extends 'base.j2' %}
{% set title = 'Project: ' + project.project_name %}

{% block main %}
<h1>{{ title }}</h1>
<h2>Members</h2>
<table>
    <tr>
        <th>Full Name</th>
        <th>Username</th>
        <th>Details</th>
    </tr>
    {% for user in members %}
    <tr>
        <td>{{ user.full_name }}</td>
        <td>{{ user.username }}</td>
        <td><a href="/users/{{ user.user_id }}/">Link</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}