{% extends 'base.j2' %}
{% set title = 'Users' %}

{% block main %}
<h1>{{ title }}</h1>
<table>
    <tr>
        <th>Full Name</th>
        <th>Username</th>
        <th>Permissions</th>
        <th>Details</th>
    </tr>
    {% for user in ulist %}
    <tr>
        <td>{{ user.full_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.perm_level }}</td>
        <td><a href="/users/{{ user.user_id }}/">Link</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}