body
{

    background-color: hsl(0, 0%, 15%);
    font-family: 'Lato', sans-serif;
    color: hsl(0, 0%, 90%);
    margin: 0;
}

a
{
    color: hsl(0, 0%, 98%);
}

body > header
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    background-color: hsl(0, 0%, 20%);
    border-bottom: 1px solid hsl(0, 0%, 35%);
    width: 100%;
    padding: 0 calc((100% - 800pt) / 2);
}

body > header .title
{
    line-height: 1;
    margin: 12pt;
    font-size: 18pt;
    font-weight: bold;
}

body > header nav ul
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

body > header nav a
{
    line-height: 1;
    font-size: 12pt;
    display: inline-block;
    padding: 15pt 12pt;
    vertical-align: middle;
    text-decoration: none;
}

body > header nav a:hover
{
    background-color: hsl(0, 0%, 35%);
}

body > main
{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 12pt;
    max-width: 800pt;
}

label
{
    font-weight: bold;
    display: inline-block;
    width: 8em;
}

form
{
    display: flex;
    gap: 12pt;
    flex-direction: column;
    align-items: center;
}

form.small
{
    display: inline-block;
    margin-bottom: 12pt;
}

input[type='text'], input[type='password']
{
    width: 15em;
    background: none;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 35%);
    background-color: hsl(0, 0%, 20%);
    padding: 6pt;
    color: inherit;
}

input[type='submit']
{
    background: hsl(0, 0%, 20%);
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 35%);
    padding: 6pt 12pt;
    color: hsl(0, 0%, 98%);
    font-family: inherit;
    font-weight: bold;
    font-size: 12pt;
    font-weight: normal;
}

input[type='submit']:hover
{
    cursor: pointer;
    background: hsl(0, 0%, 35%);
}

table
{
    width: 100%;
    border-collapse: collapse;
}

table tr:nth-of-type(odd) td
{
    background-color: hsl(0, 0%, 20%);
}

table th
{
    text-align: left;
    background-color: hsl(0, 0%, 25%);
}

table td, table th
{
    padding: 6pt;
    border-bottom: 1px solid hsl(0, 0%, 35%);
}

.error
{
    color: hsl(0, 90%, 80%);
    font-weight: bold;
}